@import "tailwindcss";

@theme inline {
  --font-archivo: var(--font-archivo);
}

html {
    scroll-behavior: smooth;
}

.desktop-nav li:hover span {
  width: 100%;
}

.view-live-btn:hover span {
  transform: translateX(5px);
}

.desktop-nav li span {
  transition: all 250ms ease-in-out;
}

.view-live-btn span {
  transition: all 100ms ease-in-out;
}